div(class='col col-md-4')
    div(class='card')
        a(href='#')
        h3(class='card-title text-center') #{val['name']}
        img(
            src='images/' + val['image']
            class='card-images'
        )
        p(class='text-center') #{val['cost'].toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$& ')} руб.
        ul(class='card-actions')
            li
                button(
                    data-goods_id= val['id']
                    class='button button-primary add-to-cart'
                ) to card