include header

div(class='wrap')
    div(class='content')
        header(class='site-header')
            include site-header

        div(class='container')
            div(class='row')
                div(class='col cil-md-12')
                    h2(class='panel-title') #{goods[0]['name']}
                div(class='col cil-md-4')
                    img(
                        src='images/'+goods[0]['image']
                        class='goods-big-image'
                    )
                div(class='col cil-md-8')
                    p #{goods[0]['description']}
                    span(class='success') Цена: #{goods[0]['cost'].toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$& ')} руб.
                    button(
                        class='button-success add-to-cart'
                        data-goods_id=goods[0]['id']
                    ) to cart